@use "../../scss/Main.scss" as *;

.contact {
  align-items: center;
  .contact-info {
    font-family: "Montserrat", sans-serif;
      margin-left: 0; 
      padding-left: 0; 
    li {
      list-style: none;
      transition: 0.3s ease-in-out;
      margin-top: 30px;
      a {
        margin-left: 15px;
        text-decoration: none;
        font-weight: 400;
        color: #eee;
        transition: 0.3s ease-in-out;
        &:hover {
          color: #c0c0fd;
          transform: scale(1.2);
        }
      } 
    }
  }
}
