@use '../../scss/Main.scss' as *;

.nasa-img{
    position: relative;
    border-radius: none !important;
}

.nasa-img::after{
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 59999;
}
.info{
  position: absolute;
  top: 52%;
  left: 8%;
  z-index: 5555;
  color: #fff;
  
}

.nasa-desc{
    display: inline-block;
    line-height: 2;
    font-size: 14px;
    margin: 2rem 3rem;
}

.Content-img{
    img{
        width: 100px !important;
    }
}