@use "../../scss/Main.scss" as *;
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  .login {
    width: 32%;
  }
  .sub-btn {
      font-size: 17px;
      border-radius: 20px;
      font-weight: 400;
      color: #000;
      background-color: #c0c0fd ;
      border: none;
      outline: none;
      padding: 10px 25px;
  }
}
