@use "../../scss/Main.scss" as *;

#header {
  z-index: 55555;
  background-color: #010710;
  .header-wrapper{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        text-decoration: none;
        h3 {
          color: black;
          font-weight: 500;
        }
      }
    }
  
    .nav {
      li {
        display: inline;
        transition: .3s ease-in-out;
        margin-right: 2.5rem;
        a {
          color: #eee;
          text-decoration: none;
          transition: 0.3s ease-in-out;
          &:hover {
            color: #c0c0fd;
          }
        }
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  
    .lang {
      .lang-btn {
        border-radius: 5px;
        background-color: rgb(234, 234, 234);
        color: #eee;
        padding: 5px 8px;
        font-weight: 500;
        font-size: 17px;
        border: none;
        outline: none;
        margin-right: 7px;
        transition: .3s ease-in-out;
        &:hover{
          background-color: #c0c0fd;
          transform: scale(1.1);
        }
      }
    }
  }
  
}

