@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import "./Breakpoint.scss";


body {
  font-family: "Montserrat", sans-serif;
  background-color: #010710;
  color: #eee;
  a{
    text-decoration: none;
  }
  .page{
    height: 77vh;
  }

  .container{
    width: 96%;
    margin: auto;
  }
}
