@use "../../scss/Main.scss" as *;

.apod{
    display: flex;
    align-items: center;
    
}
.right{
    .apod-info{
        color: rgb(206, 206, 206);
        margin: 15px 0;
        font-weight: 300;
        font-style: italic;
    }
}

.infoBtn{
    padding: 10px;
    background-color: #c0c0fd;
    border-radius: 10px;
    color: #000;
}


.dp{
    background-color: white;
    padding: 20px;
}